* {
	top: 0;
	margin: 0;
	font-family: monospace;
}
.title {
	background-color: #334155;
	color: #f1f5f9;
	padding: 0.3em 1em;
}
.content {
	padding: 0.5em 1.5em;
}
.profile {
	margin: 1em 0;
	padding: 2em;
	border: 0.2em solid #94a3b8;
	border-radius: 6px;
}
.profile--picture {
	border-radius: 50%;
}
.profile .text-and-icon {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.profile .text-and-icon img {
	width: 1em;
}
nav {
	padding: 1em;
	background-color: #0f172a;
	color: #f1f5f9;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav ul {
	display: flex;
	list-style: none;
}
nav ul li {
	margin-left: 1em;
}
.btn-sign-out {
	background-color: #0ea5e9;
	color: #f1f5f9;
	border: none;
	padding: 0.5em;
	border-radius: 6px;
}
.page {
	display: flex;
	gap: 1em;
	padding: 1em;
}
.request {
	padding: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.request img {
	border-radius: 50%;
	width: 15%;
}
.notification {
	display: inline;
	padding: 0.1em 0.3em;
	background-color: gray;
	border-radius: 50%;
}
.connections .request {
	justify-content: start;
	gap: 1em;
	padding-left: 2em;
}
.connections, .new-connections, .education {
  border: 0.2em solid #94a3b8;
  margin-top: 1em;
  border-radius: 6px;
}
